html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.821);
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 70px;
    
}
    header input{
        margin: 20px;
        width: 300px;
        border-radius: 3px;
    }

    
    header nav ul{
        display: flex;
        
    }
    header nav ul li{
        margin: 10px;
        margin-right: 20px;
    }
    header nav ul li a{
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: 3px;
        background-color: black;
    }
ul{
    list-style: none;
}

main{
    padding-top: 5rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contenedor{
    margin-top: 70px;
    border: 1px solid black;
    height: 140px;
    width: 120px;

}

.logo{
    height: 100px;
    width: auto;
}
.user{
    display: flex;
    justify-content: center;
}

.mid{
    display: grid;
}

.forms{
    display: grid;
    grid-template-areas:
    "form1 form2 h"
    "form3 form4 h";
    margin-top: 20px;
    text-align: center;
    right: 0px;
    
}
    .forms input[type="text"]{
        display: block;
        margin-top: 20px;
        width: 342px;
        height: 20px;
        border-radius: 3px;
    }

.form1{
    grid-area: form1;
}
.form2{
    grid-area: form2;
}
.form3{
    grid-area: form3;
}
.form4{
    grid-area: form4;
}
.form1, .form2, .form3, .form4{
    display: grid;

    border: 2px solid black;
    
    margin: 20px;
    
    width: 350px;
    height: 300px;
}

.button1, .button2, .button3, .button4{
   margin: 20px;
}




main input{
    margin-right: 15px;
}
.visor-tarea{
    display: block;
    border: solid brown;
    background-color: gray;
    justify-content: end;
    right: 10px;    
    padding-bottom: 20px;
    color: brown;
    font-size: 33px;
    height: 700px;
    width: 400px;
    grid-area: h;
    
}
.descripcion-tarea{
  
    color: white;
 
  
}
.buttonArch{

        top:80%;
        right:8%;
        width:100px;
        height:40px;
        position: absolute;
        z-index: 2;
        background: rgb(127, 125, 121); 
        }
.buttonEdit{
    top:80%;
    right:8%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background: rgb(127, 125, 121); 
    }

.buttonElim{
    top:80%;
        right:8%;
        width:100px;
        height:40px;
        position: absolute;
        z-index: 2;
        background: rgb(127, 125, 121); 
        }

textarea{
    resize: none;
}