html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Ubuntu';
    
}

body{
    background-color: #52796F;
}



header{
    display: flex;
    background-color: #1d2529;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 70px;
    
}
    header input{
        margin: 20px;
        width: 300px;
        border-radius: 3px;
    }

    
    header nav ul{
        display: flex;
        
    }
    header nav ul li{
        margin: 10px;
        margin-right: 20px;
    }
    .btn{
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: 3px;
        background-color: #1d2529;;
        transition: all 300ms ease-in-out;
    }
    .btn:hover{
        color: black;
        background-color: #CAD2C5;
    }
    
ul{
    list-style: none;
}

main{
    padding-top: 5rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    margin-top: 70px;
    padding-left: 30px;
    height: 140px;
    width: 120px;
    

}



.logo{
    height: 100px;
    width: auto;
}
.user{
    display: flex;
    justify-content: center;
}

.mid{
    display: flex;
    justify-content: space-between;
}

.forms{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    right: 0px;
    
}
    .forms input[type="text"]{
        display: block;
        margin-top: 20px;
        width: 342px;
        height: 20px;
        border-radius: 3px;
    }

.button1, .button2, .button3, .button4{
   margin: 20px;
}


.add{
    display: flex;
    justify-content: center;
}

main input{
    display: flex;
    margin-right: 4px;
    margin-left: 50px;
    outline: none;
    border-radius: 5px;
    background-color: #CAD2C5;
    border: 2px solid #2F3E46;
}

.visor-tarea{
    /* display: block; */
    display: none;
    border: 2px solid gray;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    right: 10px;   
    background-color: #CAD2C5; 
    padding-bottom: 20px;
    color: white;

    font-size: 33px;
    height: 65%;
    width: 30%;
    margin: 0px;
    margin-top: 25px
}

.visor-tarea input{
    margin-top: 20px;
    margin-bottom: 20px;
}

.descripcion{
    border: 2px solid #2F3E46;
    border-radius: 5px;
    background-color: whitesmoke
}


.newTask{
    border: 2px solid #2F3E46;
    border-radius: 5px;
    background-color: whitesmoke;
    outline: none
}


.addButton{
    cursor: pointer;
    font-family: 'Ubuntu';
    background-color: #354F52;
    color: white;
    border: 2px solid #2F3E46;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.addButton:hover{
    background-color: #52796F;
}
 .archButton{
        cursor: pointer;
        cursor: pointer;
    font-family: 'Ubuntu';
    background-color: #354F52;
    color: white;
    border: 2px solid #2F3E46;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    }
    .archButton:hover{
        background-color: #52796F;
    }
.asignarButton{
    cursor: pointer;
    cursor: pointer;
    font-family: 'Ubuntu';
    background-color: #354F52;
    color: white;
    border: 2px solid #2F3E46;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    }

    .asignarButton:hover{
        background-color: #52796F;
    }

.elimButton{
    cursor: pointer;
    cursor: pointer;
    font-family: 'Ubuntu';
    background-color: #354F52;
    color: white;
    border: 2px solid #2F3E46;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
} 

.elimButton:hover{
    background-color: #52796F;
}

textarea{
    resize: none;
}

.list{
    width: 300px;
    height: auto;
    border: 2px solid #2F3E46;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #CAD2C5;
}

.addList{
    width: 100px;
    cursor: pointer;
    font-family: 'Ubuntu';
    background-color: #354F52;
    color: white;
    border: 2px solid #2F3E46;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.addList:hover{
    background-color: #52796F;
}

.addTask{
    display: flex;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #354F52;
    border:2px solid #2F3E46; ;
    border-radius: 5px;
    text-shadow: 1px 1px 0px black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.task{
    display: flex;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
    background-color: #354F52;
    border:2px solid #2F3E46; ;
    border-radius: 5px;
    text-shadow: 1px 1px 0px black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}


.addTask:hover{
    background-color: #52796F;
}
.user{
    text-align: center;
    color: white;
    font-weight: bold;
}
.duello{
    display: flex;
    height: 60px;
    width: 100px;
    font-size: 40px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    
}
.botonesVisual{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.addButton, .archButton, .asignarButton, .elimButton{
    margin: 5px;
}
.nombre-tarea{
    margin-top: 10px;
}

.eliminar-lista{
    margin-top: 20px;
    background-color: #354F52;
    border:2px solid #2F3E46; ;
    border-radius: 5px;
    text-shadow: 1px 1px 0px black;
    color: white;
    transition: all 300ms ease-in-out;
}
